<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Nutrionist", root_path, class: "navbar-brand" %>
    </div>

      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to 'New Pin', new_pin_path %></li>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<% if current_page?(root_url) %>

  <div class="header-image">
    <div class="text">
        <h2 class="title">Slacker Radio Presents</h2>
        <img class="logo" src="http://www.slacker.com/s=6.0.1290.5/images/redcoat/the-beatles-logo.png" alt="The Beatles Logo">
        <p>The greatest band of all time is finally available for streaming...and Slacker wants to share them with you.</p>
        <a class="feature-link" href="/thebeatles" data-bind="click: function(data){ $root.showStaticPage('thebeatles')}">Explore The Catalogue</a>
    </div>
  </div>
<% end %>